@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #373737;
}

::selection {
  background: #373737;
  color: #f8f8f8;
}

* {
  font-synthesis: none !important;
  -webkit-font-smoothing: antialiased !important;
  letter-spacing: 0rem;
  line-height: 1.18 !important;
  text-rendering: optimizeLegibility !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 600ms;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.no-scroll {
  overflow: hidden;
}

.swiper-slide {
  width: auto !important;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

mux-player {
  --controls: none;
  pointer-events: none !important;
  --media-object-fit: cover;
  --media-object-position: center;
}

.page-transition {
  opacity: 0 !important;
}

.main-content {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  opacity: 0;
}

.main-content.loaded {
  opacity: 1;
}
